.About{
    height: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}

.About.right img:hover{
    transform: scale(0.7);
    transition: all 10s;
}
.About.left h1{
  text-align: center;
}
.About.left.p12{
   text-align: center;
}